.question{:id => '$id'}
  = f.error_messages :class => 'alert alert-error'
  .control-group
    = f.label :prompt, :caption => 'Prompt', :class => 'control-label'
    .controls
      = f.text_field :prompt, :class => 'span4'
  .control-group
    = f.label :img, :caption => 'Image URL', :class => 'control-label'
    .controls
      = f.text_field :img, :class => 'span4'
  .control-group
    = f.label :required, :caption => 'Required', :class => 'control-label'
    .controls
      %label.checkbox
        = f.check_box :required
  .control-group
    = f.label :type, :caption => 'Question Type', :class => 'control-label'
    .controls
      = f.select :type, :options => [['Multiple Choice', :multiple], ['Select Field', :select], ['Checkboxes', :checkbox]], :class => 'span4'
  .control-group
    = f.label :options, :caption => 'Options', :class => 'control-label'
    .controls.options
  = f.hidden_field :_destroy
  .btn-group.question-toolbar
    = link_to '#', :class => 'btn', :onclick => 'addQuestionOption($id);' do
      %i.icon-pencil
      Add Option
    = remove_fields('.question')
