.row
  .span12
    .page-header
      %h1
        = h! @website.name
        %small= link_to h!(@website.url), h!(@website.url)
.row
  .span6
    - unless @website.msg.blank?
      %h3 Message
      %p= h! @website.msg
    - if @website.account == current_account
      %h3 API Key
      %p= h! @website.key
  .span6
    = partial 'common/stats', :locals => {:model => @website}
