= f.error_messages :class => 'alert alert-error'
- field_set_tag do
  .control-group
    = f.label :title, :caption => 'Title', :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'span4'
  .control-group
    = f.label :desc, :caption => 'Description', :class => 'control-label'
    .controls
      = f.text_area :desc, :class => 'span4'
  .control-group
    = f.label :active, :caption => 'Active', :class => 'control-label'
    .controls
      %label.checkbox
        = f.check_box :active
  .control-group
    = f.label :max, :caption => 'Max Responses', :class => 'control-label'
    .controls.max
      = f.text_field :max, :class => 'span4'
      %p.help-block
        Max bill is $0
  .control-group
    = f.label :restricted, :caption => 'Restricted', :class => 'control-label'
    .controls
      %label.checkbox
        = f.check_box :restricted
  %h2 Questions
  .questions
    = f.fields_for :questions do |qf|
      = partial 'questions/form', :locals => {:f => qf}
  .form-actions
    = f.submit text, :class => 'btn btn-primary'
    %button.btn{:onclick => add_fields(:questions, f)}
      %i.icon-plus-sign
      Add Question
