.row
  .span12
    .page-header
      %h1 Surveys
    %table.table.table-striped
      %thead
        %th Title
        %th Description
        %th Active
        %th Cap
        %th Questions
      %tbody
        - @surveys.each do |survey|
          %tr
            %td= link_to h!(survey).title, url(:surveys, :show, :id => survey.id)
            %td= h! survey.desc
            %td= survey.active.to_s.capitalize
            %td= h! survey.cap
            %td= survey.questions.size
    = link_to url(:surveys, :new), :class => 'btn btn-primary' do
      %i.icon-plus-sign.icon-white
      Add Survey
