%ul.nav
  %li= link_to 'Webites', url(:websites, :index)
  %li= link_to 'Surveys', url(:surveys, :index)
  %li= link_to 'Requests', '#'
  %li.dropdown
    %a.dropdown-toggle{:href => '#', 'data-toggle' => 'dropdown'}
      Browse
      %b.caret
    %ul.dropdown-menu
      %li= link_to 'Websites', '#'
      %li= link_to 'Surveys', '#'
%ul.nav.pull-right
  %li.dropdown
    %a.dropdown-toggle{:href => '#', 'data-toggle' => 'dropdown'}
      = h! current_account.fullname
      %b.caret
    %ul.dropdown-menu
      %li= link_to 'View Profile', url(:accounts, :show, :id => current_account.id)
      %li= link_to 'Edit Account', url(:accounts, :edit, :id => current_account.id)
      %li.divider
      %li= link_to 'Logout', url_for(:sessions, :destroy), :method => :delete
