!!!
%html
  %head
    %title Krater
    = stylesheet_link_tag 'bootstrap.min', 'krater'
  %body
    = partial 'layouts/navbar'
    .container
      .row
        .span12
          = partial 'layouts/flash'
      = yield
    = javascript_include_tag 'jquery', 'bootstrap.min', 'jquery-ujs', 'application'
