!!!
%html
  %head
    %title Krater
    = stylesheet_link_tag 'bootstrap.min'
    :css
      body {padding-top: 60px; padding-bottom: 40px;}    
  %body
    = partial 'layouts/navbar'
    .container
      .row
        .span12
          = partial 'layouts/flash'
          = yield
    = javascript_include_tag 'jquery', 'bootstrap.min', 'jquery-ujs', 'application'
