= f.error_messages :class => 'alert alert-error'
- field_set_tag do
  .control-group
    = f.label :name, :caption => 'Name', :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'input-xlarge'
  .control-group
    = f.label :email, :caption => 'Email Address', :class => 'control-label'
    .controls
      = f.text_field :email, :class => 'input-xlarge'
  .control-group
    = f.label :password, :caption => 'Password', :class => 'control-label'
    .controls
      = f.password_field :password, :class => 'input-xlarge'
  .control-group
    = f.label :password_confirmation, :caption => 'Password Confirmation', :class => 'control-label'
    .controls
      = f.password_field :password_confirmation, :class => 'input-xlarge'
  .form-actions
    = f.submit text, :class => 'btn btn-primary'
